* {
    padding: 0;
    margin: 0;
}

@media (min-width:480px){
    #modal{
        width: 25rem;
    }
}

body {
    background-color: #011522;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
}

#modal {
    background: #fff;
    color: #000;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem #333;
    position: fixed;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeIn .6s;
}


#abrir {
    background-color: #268b7e;
    /* Green */
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    text-align: center;
    border-radius: 0.7125rem;
    text-decoration: none;
    font-size: 1rem;

    cursor: pointer;
}

#fechar {
    background-color: #8b2626;
    /* Green */
    border: none;
    color: white;
    padding: 0.75rem 1.25rem;
    text-align: center;
    border-radius: 0.7125rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;

}

.card {
    width: 100%;
    margin: 0 auto;
    margin: 1rem;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;

}

.card__content {
    height: 88vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: flex;
    align-items: center;
    padding: 0px 9px;
}

.circle {
    padding: 0 3px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.btn {
    width: 8rem;
    border-radius: 0.5rem;
    border-color: rgb(0, 75, 75);
    font-weight: bold;
    font-size: 1rem;
    background-color: darkcyan;
    color: white;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 73, 73);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);

    }
}